<nav class="navbar navbar-expand navbar-light bg-light">
  <a class="navbar-brand" href="/">FTW-Clone</a>
  <ul class="navbar-nav ml-auto">
    <li>
      <% if (typeof user !== 'undefined') { %>
        <span class="navbar-text"><%= user.username %></span>
      <% } %>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link" data-toggle="dropdown" href="#"><span class="navbar-toggler-icon"></span></a>
      <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" href="/leaderboard" target="_blank">Leaderboard</a>
        <a class="dropdown-item" href="/changelog" target="_blank">Changes</a>
        <a class="dropdown-item" href="/report" target="_blank">Report</a>
        <% if (typeof user !== 'undefined') { %>
          <a class="dropdown-item" href="/logout" target="_blank">Logout</a>
        <% } else { %>
          <a class="dropdown-item" href="/login" target="_blank">Login</a>
        <% } %>
      </div>
    </li>
  </ul>
</nav>