.pfp {
    width: 100%;
    height: 100%;

    vertical-align: bottom;
}

.chat-item {
    width: 100%;
}

.chat-message {
    margin: 3px;
    word-wrap: : break-word;
}

.chat-message-timestamp {
    color: #707070;
    font-size: 12px;
    margin-left: 5px;
}

.chat-message-sender {
    color: black;
    font-weight: bold;

}

.chat-header {
    margin: 3px;
}

.chat-message-gutter {
    display: inline-block;
    width: 50px;
    margin-right: 10px;
}

.chat-message-body {
    display: inline-block;
}

#chat-display {
    height: 350px;
    overflow-y: scroll;

    margin-bottom: 10px;
}

.image-container {
    width: 100%;
    height: 50px;
}

::-webkit-scrollbar {
    width: 10px;
}


::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-hover {
    background: #555;
}

.form-item {
    margin-bottom: 15px;
    text-align: left;
}


