.game-box {
    margin: 10px;
    width: 150px;
    height: 150px;

    display: inline-block;
    text-align: center;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.game-box p {
    margin: 0;
}

.game-disp-header {
    width: 100%;
    background-color: #ccff99;
}

.game-disp-body {
    background-color: #99ccff;
    padding: 15px;
}

.game-disp-footer {
    width: 100%;
    background-color: #ff99cc;
}

#game-display {
    padding: 10px;
}

.create-game-input {
    float: right;
}

.modal-row {
    text-align: left;
    margin: 20px;
}

.game-started {
    background-color: #6699ff;
}

.game-content {
    height: 400px;
}

.problem-header {
    background-color: #4fb0b0;
    width: 100%;
    height: 40px;

    vertical-align: middle;
    line-height: 40px;
    padding-left: 20px;
}

#problem-box {
    background-color: azure;
    width: 100%;
    height: 100%;
}

#problem-text {
    padding: 10px;
    word-wrap: break-word;

    width: 100%;
    height: calc(100% - 100px)
}

#answer-box {
    margin: 10px;
    width: 250px
}





.overlapping {
    position: absolute;
    left: 0;
    top: 0;
    height: 40px;

    margin-left: 20px;
    background-color: darkblue;
}

#timer {
    height: 3px;
    width: 0%;

    background-color: darkblue;
}
