<!DOCTYPE html>
<html lang="en">

<head>
  <title><%= title %></title>
  <% include ../partials/bootstrap %>
</head>

<body>
  <%- include('../partials/nav', { user }) %>
  <div style="margin-left: 10px; margin-top: 10px;">
    <pre><code><%= data %></code></pre>
  </div>
</body>

</html>
