<!DOCTYPE html>
<html lang="en">

<head>
  <title>Issues</title>
  <% include ../partials/bootstrap %>
</head>

<body>
  <%- include('../partials/nav', { user }) %>
  <h2 style="margin-left: 10px; margin-top: 5px;">Issues</h2>
  <table style="width: calc(100% - 30px); margin: 15px;">
  	<tbody>
  		<% for (let i = 0; i < issues.length; i += 1) { %>
  			<tr><td>Problem: <%= issues[i].comment %></td></tr>
        <tr><td>By: <%= issues[i].username %></td></tr>
        <tr><td>IP: <%= issues[i].ip %></td></tr>
        <tr><td><hr /></td></tr>
  		<% } %>
  	</tbody>
  </table>
</body>

</html>
